.div-center {
  margin: 0 auto;
  margin-top: 50px;
  margin-top: 125px;
}

.aqua-logo {
  width: 85%;
  margin: 0 auto;
}

.text-primary {
  color: #3380b6 !important;
}

.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
  color: #3380b6;
    background-color: rgb(64 160 232 / 22%) !important;
}

.bg-menu-theme .menu-inner > .menu-item.active:before {
  background: #3380b6;
}

.app-brand .layout-menu-toggle {
  background-color: #3380b6;
  border: 7px solid #f5f5f9;
}






@media only screen and (max-width: 500px) {
  .card-resp {
    margin-bottom: 25px;
  }
}

