{% load static %} 
 
 <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="index.html" class="app-brand-link">
              <img
                src="{% static 'assets/img/illustrations/aqua-logo.png' %}"
                alt="chart success"
                class="aqua-logo"
              />
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            {% url 'home' as url %}
            <li class="menu-item {% if request.path == url %}active{% endif %}">
              <a href="{% url 'home' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-tachometer"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>      

            <!-- Aquario -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Aquário</span></li>
             <!-- Temperatura -->
             {% url 'temp-table' as url %}
             <li class="menu-item {% if request.path == url %}active{% endif %}">
               <a href="{% url 'temp-graphs' %}" class="menu-link">
                 <i class="menu-icon tf-icons bx bx-test-tube"></i>
                 <div data-i18n="Analytics">Temperatura</div>
               </a>
             </li>
             <!-- Temperatura -->
             {% url 'temp-table' as url %}
             <li class="menu-item {% if request.path == url %}active{% endif %}">
               <a href="{% url 'temp-graphs' %}" class="menu-link">
                 <i class="menu-icon tf-icons bx bx-water"></i>
                 <div data-i18n="Analytics">Nível de Água</div>
               </a>
             </li>
             <!-- Temperatura -->
             {% url 'temp-table' as url %}
             <li class="menu-item {% if request.path == url %}active{% endif %}">
               <a href="{% url 'temp-graphs' %}" class="menu-link">
                 <i class="menu-icon tf-icons bx bx-filter"></i>
                 <div data-i18n="Analytics">TDS</div>
               </a>
             </li>

            <!-- Plantas -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Plantas</span></li>
             <!-- Temperatura -->
             {% url 'temp-table' as url %}
             <li class="menu-item {% if request.path == url %}active{% endif %}">
               <a href="{% url 'temp-graphs' %}" class="menu-link">
                 <i class="menu-icon tf-icons bx bx-test-tube"></i>
                 <div data-i18n="Analytics">Temperatura</div>
               </a>
             </li>
              <!-- Umidade -->
              {% url 'temp-table' as url %}
              <li class="menu-item {% if request.path == url %}active{% endif %}">
                <a href="{% url 'temp-graphs' %}" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-droplet"></i>
                  <div data-i18n="Analytics">Umidade</div>
                </a>
              </li>
               <!-- Temperatura -->
             {% url 'temp-table' as url %}
             <li class="menu-item {% if request.path == url %}active{% endif %}">
               <a href="{% url 'temp-graphs' %}" class="menu-link">
                 <i class="menu-icon tf-icons bx bx-sun"></i>
                 <div data-i18n="Analytics">LDR</div>
               </a>
             </li>



        </aside>