<script type="text/javascript">


var options = {
          series: [{
            name: "%",
            data: [{% for umidade in umidades %}{{umidade.umidade}}{% if not forloop.last %},{% endif %}{% endfor %}]
        }],
          chart: {
          height: 350,
          type: 'area',
          zoom: {
            enabled: true
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        title: {
          text: '',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {          
          categories: [{% for umidade in umidades %}'{{ umidade.data_criacao|date:"M d, P" }}',{% endfor %}],
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

</script>